@media screen and (orientation:landscape){
    .icons1{
        margin-left:20px;
        margin-top:-5px;
    }
    
    .icons1 img{
        margin-right: 10px;
    }
    .nav2{
        margin-bottom: 20px;
    }
    .nav2 .nav-link{
        font-size: 16px;
    }
    .shopper{
        font-weight: bold;
        font-size: 25px;
        margin: -5px 250px 0px 50px;
        
    }
    .icons2{
        font-weight: bold;
        margin-left:700px;
        margin-top:15px;
        font-size:17px;
    }
    .icons2 span{
        margin-right: 20px;
    }
    .nav2 .nav-link:hover{
        color:red;
    }
    
    .icons2 span:hover{
        color:red;
        cursor: pointer;
    }
    .cart{
        position:relative;
    }
    .count{
        display:inline-block;
        text-align: center;
        background-color: red;
        color:white;
        height:22px;
        width:22px;
        border-radius: 22px;
        position:absolute;
        left:12px;
        top:-12px;
    }
    
    article{
        background-color: black;
        font-family: arial;
        font-size:12px;
        word-spacing: 5px;
        margin-top:-20px;
    
    }
    
    .row1{
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        margin-top: 10px;
    }
    
    .img1, .img2, .img3{
        background-size: cover;
        height:500px;
        position:relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .img1{
        background-image: url("../Images/s1.jpg");
        
    }
    .img2{
        background-image: url("../Images/s2.jpg");
    
    }
    .img3{
        background-image: url("../Images/s3.jpg");
    }
    
        main{
            font-family: arial;
        }
        .title{
                    
            font-weight: bold;
            font-size:40px;
            color:white;
            text-shadow: 3px 3px black;
            
            
        }
        
        .shop{
            background-color: rgb(255, 255, 255);
            font-size:17px;
            font-weight: bold;
            width:170px;
            text-align: center;
            display: inline-block;
            padding:10px;
            box-shadow: 3px 3px black;
        }
    
        .row1 div:hover{
    
            background-color: rgb(20, 20, 20);
            opacity: 0.8;
            
        }
        .row1 div:hover .bi-arrow-right{
            padding-left: 10px;
            transition:1s;
        }
    
        .row2 ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
        }
        .row2{
            margin: 50px 80px 50px 50px;
            
        }
        .row2 span{
            font-size:13px;
        }
        h6{
            
            font-size:13px;
    
            font-weight: bold;
        }
    
        .row3{
            display: grid;
            grid-template-columns: 4fr 8fr;
            height:400px;
            margin-bottom: 20px;
            
        }
        .row3 div:hover .bi-arrow-right{
            margin-left: 20px;
            box-shadow: 0px 0px 5px 5px white;
            background-color: black;
            color:white;
            font-weight: bold;
            transition:1s;
        }
        .row4 div:hover .bi-arrow-right{
            margin-left: 20px;
            box-shadow: 0px 0px 5px 5px white;
            background-color: black;
            color:white;
            font-weight: bold;
            transition:1s;
        }
    
        .row4{
            display: grid;
            grid-template-columns: 8fr 4fr;
            height:400px;
            
        }
        .img4{
            
            background-size: 100% 100%;
    
            margin-right:10px;
            position:relative;
            overflow: hidden;
    
        }
        .img4 img:hover{
            transform: translateX(-10px);
        }
    
        .bags, .sweatshirts{
            position:absolute;
            top:100px;
            left:120px;
            font-weight: bold;
            font-size:25px;
            color:white;
            text-shadow: 0px 0px 20px black;
    
        }
        .img4 .shopnow, .img7 .shopnow{
            color:white;
            font-weight: bold;
            font-size:20px;
            position:absolute;
            top:150px;
            left:150px;
            text-shadow: 0px 0px 20px black;
    
        }
        .img5{
            
            background-size: 100% 100%;
            margin-left:10px;
            position:relative;
            overflow: hidden;
        }
        .img5 img:hover{
            transform: translate(-10px);
        }
        .img5 .shopnow, .img6 .shopnow{
            color: white;
            font-weight: bold;
            font-size:20px;
            position:absolute;
            top:300px;
            left:100px;
            text-shadow: 0px 0px 5px black;
    
        }
        .shirts, .dresses{
            position:absolute;
            top:250px;
            left:100px;
            font-weight: bold;
            font-size:25px;
            color: white;
            text-shadow: 0px 0px 20px black;
    
    
        }
    
        .offer{
            position:absolute;
            background-color: rgb(236, 93, 93);
            color:white;
            width:100px;
            height:100px;
            border-radius: 100px;
            text-align:center;
            top:20px;
            right:20px;
        }
    
    
        .img6{
        
            background-size: 100% 100%;
            margin-right:10px;
            position:relative;
            overflow: hidden;
        }
        .img6 img:hover{
            transform: translateX(-10px);
        }
        .img7{
            
            background-size: 100% 100%;
            margin-left:10px;
            position:relative;
            overflow: hidden;
        }
        .img7 img:hover{
            transform: translateX(-10px);
        }
    
        footer{
            background-color: black;
            color:white;
            padding:30px;
            font-family:arial;
            padding-left: 30px;
            padding-right: 30px;
            margin-top:50px;
        }
        .row-1{
            text-align:center;
            font-size:17px;
            font-family:arial;
            font-weight: bold;
            padding-bottom: 30px;
        }
        .row-2{
            text-align:center;
            font-size:14px;
            font-family:arial;
            padding-bottom: 30px;
            
        }
        .email{
            width:350px;
            display:inline-block;
            text-align:left;
            background-color: #3d3d3d;
            padding:20px;
        }
        .subscribe{
            background-color: #292121;
            padding: 20px;
            width:150px;
            display:inline-block;
    
        }
         
        .row-3{
            display:grid;
            grid-template-columns: 2fr 10fr;
            
            
        }
        
        .col2{
            display: grid;
            grid-template-columns: 3fr 3fr 3fr 3fr;
            margin-left: -50px;
        }
        .footer-title{
            font-size: 20px;
            font-family: arial;
            font-weight: bold;
            padding-bottom:20px;
            display:block;
            margin-top: 5px;
        }
        .bi-c-circle{
            font-size:12px;
            color:gray;
    
        }
        .last-line{
            display: flex;
            justify-content: space-between;
            margin-left:50px;
            margin-right:50px;
        }
        aside{
            display:flex;
        }
        aside span{
            font-size:15px;
            padding:5px;
        }
    
        .service-title{
            font-size: 14px;
            font-family: arial;
            font-weight: bold;
            padding-bottom:20px;
            display:block;
        }
    
        .service-title~span, address span{
            display:block;
            padding-bottom:15px;
            font-size: 12px;
            color:gray;
        }
    
        .row5, .row6{
            display:grid;
            grid-template-columns: 3fr 3fr 3fr 3fr;
            margin-left:80px;
            margin-bottom: 50px;
    
            
        }
        
        
        .img8-shoes, .img9-dresses, 
        .img10-shoes, .img11-tops, .img12-dresses,
        .img13-bags, .img14-skirts, .img15-shoes{
            background-size: 100% 100%;
            height:300px;
            width:250px;
        
        }
        .img8-shoes{
    
            background-image: url("../Images/heels.png");
            position: relative;
        }
        
        .hiding-buttons{
            position: absolute;
            display: flex;
            bottom:-50px;
            left:20px;
            display: none;
            transition: 2s;
            
        }
        .hiding-buttons span{
            height: 30px;
            width:30px;
            border-radius: 30px;
            padding:5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px;
            background-color: white;
            
                    
        }
    
        .img8-shoes:hover{
            background-image: url("../Images/heel_2.jpeg");
    
        }
        .img8-shoes:hover .hiding-buttons{
            bottom:10px;
            display: contents;
            display: flex;
            
        }
    
        
        .hiding-buttons span:hover{
            background-color: red;
            color:white;
            cursor: pointer;
        }
        
    
      
        .img9-dresses{
            background: url("../Images/cotten_2.jpeg");
            background-size: cover;
            position:relative;
        }
        .img9-dresses:hover{
            background: url("../Images/women_dresses.jpeg");
            background-size: cover;
    
        }
        .img9-dresses:hover .hiding-buttons{
            bottom:10px;
            display: contents;
            display: flex;
            
        }
    
    
        .img10-shoes{
            background: url("../Images/shoes.png");
            position:relative;
    
        }
        .img10-shoes:hover{
            background: url("../Images/shoe.jpeg");
            background-size: cover;
    
        }
        .img10-shoes:hover .hiding-buttons{
            bottom:10px;
            display: contents;
            display: flex;
            
        }
    
    
        .img11-tops{
            background: url("../Images/cotton_tops.png");
            background-size: cover;
            position:relative;
    
        }
        .img11-tops:hover{
            background: url("../Images/tops_2.webp");
            background-size: cover;
    
        }
        .img11-tops:hover .hiding-buttons{
            bottom:10px;
            display: contents;
            display: flex;
            
        }
    
    
        .img12-dresses{
            background-image: url("../Images/midi_derss.png");
            position:relative;
    
        }
        .img12-dresses:hover{
            background-image: url("../Images/middi_2.jpeg");
            background-size: cover;
    
        }
        .img12-dresses:hover .hiding-buttons{
            bottom:10px;
            display: contents;
            display: flex;
            
        }
    
    
        .img13-bags{
            background-image: url("../Images/hand-bags.png");
            position:relative;
    
        }
        .img13-bags:hover{
            background-image: url("../Images/bags.png");
            background-size: cover;
    
        }
        .img13-bags:hover .hiding-buttons{
            bottom:10px;
            display: contents;
            display: flex;
            
        }
    
        .img14-skirts{
            background-image: url("../Images/skirts.png");
            position:relative;
    
        }
        .img14-skirts:hover{
            background-image: url("../Images/skits_2.jpeg");
            background-size: cover;
    
        }
        .img14-skirts:hover .hiding-buttons{
            bottom:10px;
            display: contents;
            display: flex;
            
        }
    
        .img15-shoes{
            background-image: url("../Images/heel_3.jpeg");
            position:relative;
    
        }
        .img15-shoes:hover{
            background-image: url("../Images/Heels_4.jpeg");
            background-size: cover;
    
        }
        .img15-shoes:hover:hover .hiding-buttons{
            bottom:10px;
            display: contents;
            display: flex;
            
        }
    
    
    
    
        .discover{        
            padding:10px 30px 10px 30px;
            font-weight: bold;
            border-bottom: 1px solid black;
        }
        .carousel2{
            display:none;
        }
    
        .row7{
            display: grid;
            grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
            margin-left: 75px;
            margin-bottom: 20px;
        }
        .row7 img{
            margin-right: 5px;
        }
        .smallimgs{
            position:relative;
        }
        .likes-comments{
            position: absolute;
            top:90px;
            left:50px;
            display: none;
            
        }
        .likes-comments span{
            margin:5px;
        }
        .smallimgs:hover img{
            opacity: 0.5;
            background-color: black;
        }
        .smallimgs:hover .likes-comments{
            position:relative;
            display:contents;
            top:-120px;
            left:50px;
            display: flex;
    
        }
    
        .row8{
            display: flex;
            margin-left:250px;
            margin-top:50px;
            
        }
        .row8 img{
            margin-right:30px;
        }
    
    }
    
    @media screen and (orientation:portrait){
        .nav1{
            padding:0px 10px 0px 10px;
            margin:0px -10px 0px -10px;
        }
        .navbar-brand{
                font-size:13px;
                margin-right: 30px;
            }
        
        .free .navbar-toggler-icon{
            font-size: 13px;
        }
        #us img{
        margin-top: -5px;
    }
    
        .nav-link{
            font-weight: bold;
        }
    
            .shopper{
                font-weight: bold;
                font-size: 25px;
            }  
    
            .icons2{
                font-weight: bold;
                
                font-size:15px;
            }
            .icons2 span{
                margin-right: 10px;
            }
    
            .nav2 button:hover{
                color:red;
            }
            
            .icons2 span:hover{
                color:red;
                cursor: pointer;
            }
            
            .cart{
                position:relative;
            }
            .count{
                display:inline-block;
                text-align: center;
                background-color: red;
                color:white;
                height:22px;
                width:22px;
                border-radius: 22px;
                position:absolute;
                left:12px;
                top:-12px;
            }
    
            article{
                font-family: arial;
                font-size:12px;
                word-spacing: 5px;
                background-color: black;
                
            }
    
            .row1{
                display: grid;
                grid-template-columns: 12fr;
                margin-top: 10px;
            }
            
            .img1{
                background-size: cover;
                height:500px;
                position:relative;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
            
            .img1{
                background-image: url("../Images/s1.jpg");
                
            }
            
            .img2, .img3{
                display: none;
            
            }
            
                main{
                    font-family: arial;
                }
                .title{
                    
                    font-weight: bold;
                    font-size:40px;
                    color:white;
                    text-shadow: 3px 3px black;
                    
                    
                }
                
                .shop{
                    background-color: white;
                    font-size:17px;
                    font-weight: bold;
                    width:170px;
                    text-align: center;
                    display: inline-block;
                    padding:10px;
                    box-shadow: 3px 3px black;
                }
            
                .row1 div:hover{
            
                    background-color: rgb(20, 20, 20);
                    opacity: 0.8;
                    
                }
                .row1 div:hover .bi-arrow-right{
                    padding-left: 10px;
                    transition:1s;
                }
            
                .row2 ul{
                    list-style: none;
        
                }
                .row2 ul li{
                    margin-bottom: 15px;
                }
        
    
                .row2 span{
                    font-size:13px;
                
                }
                h6{
                    
                    font-size:13px;
                    font-weight: bold;
        
                }
    
                .row3, .row4{
                    display: grid;
                    grid-template-columns: 12fr;
                    height:1300px;
                    
                }
                .row3 div, .row4 div{
                    margin-bottom: 10px;
                }
                .row3 div:hover .bi-arrow-right{
                    margin-left: 20px;
                    box-shadow: 0px 0px 5px 5px rgb(197, 47, 47);
                    background-color: black;
                    color:white;
                    font-weight: bold;
                    transition:1s;
                }
                .row4 div:hover .bi-arrow-right{
                    margin-left: 20px;
                    box-shadow: 0px 0px 5px 5px white;
                    background-color: black;
                    color:white;
                    font-weight: bold;
                    transition:1s;
                }
                .img4{
            
                    height:600px;
                    
                    margin-right:10px;
                    position:relative;
                    overflow: hidden;
            
                }
                .img4 img:hover{
                    transform: translateX(-10px);
                }
                
                .bags, .sweatshirts{
                    position:absolute;
                    top:100px;
                    left:120px;
                    font-weight: bold;
                    font-size:25px;
                    color:white;
                    text-shadow: 0px 0px 20px black;
            
                }
                .img4 .shopnow, .img7 .shopnow{
                    color:white;
                    font-weight: bold;
                    font-size:20px;
                    position:absolute;
                    top:150px;
                    left:150px;
                    text-shadow: 0px 0px 20px black;
            
                }
                .img5{
            
                    height:600px;
            
                    margin-right:10px;
                    position:relative;
                    overflow: hidden;
            
                }
                .img5 img:hover{
                    transform: translateX(-10px);
                }
    
                .img5 .shopnow, .img6 .shopnow{
                    color:white;
                    font-weight: bold;
                    font-size:20px;
                    position:absolute;
                    top:300px;
                    left:100px;
                    text-shadow: 0px 0px 20px black;
            
                }
                .shirts, .dresses{
                    position:absolute;
                    top:250px;
                    left:100px;
                    font-weight: bold;
                    font-size:25px;
                    color:white;
                    text-shadow: 0px 0px 20px black;
                 }
                 
                 .offer{
                    position:absolute;
                    background-color: rgb(236, 93, 93);
                    color:white;
                    width:100px;
                    height:100px;
                    border-radius: 100px;
                    text-align:center;
                    top:20px;
                    right:20px;
                }
                .img6{
            
                    height:600px;
            
                    margin-right:10px;
                    position:relative;
                    overflow: hidden;
            
                }
                .img6 img:hover{
                    transform: translateX(-10px);
                }
    
                .img7{
            
                    height:600px;
            
                    margin-right:10px;
                    position:relative;
                    overflow: hidden;
            
                }
                .img7 img:hover{
                    transform: translateX(-10px);
                }
    
            
                footer{
                    background-color: black;
                    color:white;
                    padding:30px;
                    font-family:arial;
                    padding-left: 30px;
                    padding-right: 30px;
                    margin-top:50px;
                }
                .row-1{
                    text-align:center;
                    font-size:17px;
                    font-family:arial;
                    font-weight: bold;
                    padding-bottom: 30px;
                }
                .row-2{
                    text-align:center;
                    font-size:14px;
                    font-family:arial;
                    padding-bottom: 30px;
                    margin-top:30px;
                    
                }
                .email{
                    width:200px;
                    display:inline-block;
                    text-align:left;
                    background-color: #3d3d3d;
                    padding:20px;
                }
                .subscribe{
                    background-color: #292121;
                    padding: 20px;
                    width:150px;
                    display:inline-block;
            
                }
                 
                .row-3{
                    display:grid;
                    grid-template-columns: 12fr;
                    padding-left: 20px;
                    
                }
                .footer-title{
                    font-size: 20px;
                    font-family: arial;
                    font-weight: bold;
                    padding-bottom:5px;
                    display:block;
                }
                .bi-c-circle{
                    font-size:12px;
                    color:gray;
            
                }
                .last-line{
                    display: flex;
                    flex-direction: column;
                
                }
                .last-line span{
                    margin:10px;
                }
    
                aside span{
                    font-size:15px;
                    padding:5px;
                }
            
                .service-title{
                    font-size: 14px;
                    font-family: arial;
                    font-weight: bold;
                    padding-bottom:20px;
                    display:block;
                }
            
                .service-title~span, address span{
                    display:block;
                    padding-bottom:15px;
                    font-size: 12px;
                    color:gray;
                }
            
                .row-3{
                    display:grid;
                    grid-template-columns: 12fr;
                    
                    
                }
                .col1{
                    margin-bottom:30px;
                }
                
                .col2{
                    display: grid;
                    grid-template-columns: 6fr 6fr;
                    
                }
    
                .row5, .row6{
                    display:grid;
                    grid-template-columns: 6fr 6fr;
                    
                    margin-bottom: 10px;
                    margin-left: 0px;
            
                    
                }
                .text-below{
                    margin-left:10px;
                }
                
                
                .img8-shoes, .img9-dresses, 
        .img10-shoes, .img11-tops, .img12-dresses,
        .img13-bags, .img14-skirts, .img15-shoes{
            background-size: 100% 100%;
            height:250px;
            width:200px;
            margin:10px;
        
        }
        .img8-shoes{
    
            background-image: url("../Images/heels.png");
            position: relative;
        }
        
        .hiding-buttons{
            position: absolute;
            display: flex;
            bottom:-50px;
            left:20px;
            display: none;
            transition: 2s;
            
        }
        .hiding-buttons span{
            height: 30px;
            width:30px;
            border-radius: 30px;
            padding:5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            background-color: white;
            
                    
        }
    
        .img8-shoes:hover{
            background-image: url("../Images/heel_2.jpeg");
    
        }
        .img8-shoes:hover .hiding-buttons{
            bottom:10px;
            display: contents;
            display: flex;
            
        }
    
        
        .hiding-buttons span:hover{
            background-color: red;
            color:white;
            cursor: pointer;
        }
        
    
      
        .img9-dresses{
            background: url("../Images/cotten_2.jpeg");
            background-size: cover;
            position:relative;
        }
        .img9-dresses:hover{
            background: url("../Images/women_dresses.jpeg");
            background-size: cover;
    
        }
        .img9-dresses:hover .hiding-buttons{
            bottom:10px;
            display: contents;
            display: flex;
            
        }
    
    
        .img10-shoes{
            background: url("../Images/shoes.png");
            position:relative;
    
        }
        .img10-shoes:hover{
            background: url("../Images/shoe.jpeg");
            background-size: cover;
    
        }
        .img10-shoes:hover .hiding-buttons{
            bottom:10px;
            display: contents;
            display: flex;
            
        }
    
    
        .img11-tops{
            background: url("../Images/cotton_tops.png");
            background-size: cover;
            position:relative;
    
        }
        .img11-tops:hover{
            background: url("../Images/tops_2.webp");
            background-size: cover;
    
        }
        .img11-tops:hover .hiding-buttons{
            bottom:10px;
            display: contents;
            display: flex;
            
        }
    
    
        .img12-dresses{
            background-image: url("../Images/midi_derss.png");
            position:relative;
    
        }
        .img12-dresses:hover{
            background-image: url("../Images/middi_2.jpeg");
            background-size: cover;
    
        }
        .img12-dresses:hover .hiding-buttons{
            bottom:10px;
            display: contents;
            display: flex;
            
        }
    
    
        .img13-bags{
            background-image: url("../Images/hand-bags.png");
            position:relative;
    
        }
        .img13-bags:hover{
            background-image: url("../Images/bags.png");
            background-size: cover;
    
        }
        .img13-bags:hover .hiding-buttons{
            bottom:10px;
            display: contents;
            display: flex;
            
        }
    
        .img14-skirts{
            background-image: url("../Images/skirts.png");
            position:relative;
    
        }
        .img14-skirts:hover{
            background-image: url("../Images/skits_2.jpeg");
            background-size: cover;
    
        }
        .img14-skirts:hover .hiding-buttons{
            bottom:10px;
            display: contents;
            display: flex;
            
        }
    
        .img15-shoes{
            background-image: url("../Images/heel_3.jpeg");
            position:relative;
    
        }
        .img15-shoes:hover{
            background-image: url("../Images/Heels_4.jpeg");
            background-size: cover;
    
        }
        .img15-shoes:hover:hover .hiding-buttons{
            bottom:10px;
            display: contents;
            display: flex;
            
        }
        .discover{        
            padding:10px 30px 10px 30px;
            font-weight: bold;
            border-bottom: 1px solid black;
        }
    
        .carousel1{
            display: none;
        }
    
        .row7{
                display: grid;
                grid-template-columns: 6fr 6fr;
                margin-left:20px;
                margin-bottom: 10px;
        }
        .row7 img{
                
                margin-bottom: 5px;
        }
        .smallimgs{
                 position:relative;
        }
        .likes-comments{
                position: absolute;
                top:90px;
                left:50px;
                display: none;
                    
        }
        .likes-comments span{
                 margin:5px;
        }
        .smallimgs:hover img{
                 opacity: 0.5;
                 background-color: black;
        }
        .smallimgs:hover .likes-comments{
                 position:relative;
                 display:contents;
                 top:-120px;
                 left:50px;
                 display: flex;
            
        }
            
    
        .row8{
                display: grid;
                grid-template-columns: 6fr 6fr;
                margin: 20px 50px 20px 50px;
        }
        .row8 img{
                margin:10px;
        }
         
           
    }
